@model IEnumerable<Employee>
@{ 
    ViewBag.Title = "Employee List";
}

<div class="row g-0">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/" + (item?.PhotoName ?? "user.svg");
    <div class="col-sm-4">
        <div class="card m-3">
            <div class="card-header">
                <h5>@item.Name</h5>
            </div>
            <div class="card-body">
                <img class="card-img" src="@photoPath" alt="@(item?.PhotoName ?? "No image")" asp-append-version="true" />
            </div>
            <div class="card-footer text-center">
                @*<a href="@Url.Action("Details", "Home", new { Id = item.Id })" class="btn btn-success">Show</a>
                @Html.ActionLink("View", "Details", "Home", new { Id = item.Id})
                <a href="~/Home/Details/@item.Id" class="btn btn-primary">View</a>*@
                <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">View</a>
                <a href="#" class="btn btn-secondary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    </div>
    }
</div>

        @*<table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Department</td>
                    <td>@employee.Email</td>
                </tr>
                }
            </tbody>
        </table>*@