@{
    ViewBag.Title = "Error";
}

<div class="text-danger text-center">
    @if (ViewBag.ErrorTitle == null)
    {
        <h3>Some error occured. Our develper team have been notified and we are trying to fix that.</h3>
        <h5>Please contact <a href="mailto:nifraz@live.com">nifraz@live.com</a>. Sorry about that :(</h5>
    }
    else
    {
        <h3>@ViewBag.ErrorTitle</h3>
        <h5>@ViewBag.ErrorMsg</h5>
    }
</div>

@*<div class="alert alert-danger my-3">
        <h5>Path:</h5>
        <hr />
        <h6>@ViewBag.Path</h6>
    </div>

    <div class="alert alert-danger my-3">
        <h5>Error Message:</h5>
        <hr />
        <h6>@ViewBag.Msg</h6>
    </div>

    <div class="alert alert-danger my-3">
        <h5>Stack Trace:</h5>
        <hr />
        <h6>@ViewBag.StackTrace</h6>
    </div>*@